@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: max(800px, 99vh);
  width: max(1200px, 99vw);
}

.banner {
  width: 33%;
}

.form-container {
  width: 67%;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
  opacity: 0.65;
  background-color: rgb(202, 135, 39);
  border: none;
}

.banner {
  background-image: url(../style/side-image-viking.jpg);
  background-size: cover;
}

#image {
  width: 80px;
  object-fit: cover;
}

#image-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font: 40px bold;
}

#sizzle, #submit {
  height: 35%;
  background-color: rgb(246, 235, 212);
  display: flex;
  flex-direction: column;

}

#form-div {
  height: 30%;
  box-shadow: 0 4px 2px -2px gray;
}

.h3-text {
  width: 75%;
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: 20px;
}

#header {
  font-size: 30px;
}

.h3-text > h3 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.cta {
  margin-left: 50px;
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
}

form {
  display: flex;
  align-items: stretch;
  padding-left: 50px;
  padding-top: 25px;
}

.inputs {
  width: 33%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;

}

.inputs > input {
  margin-bottom: 10px;
  border: solid 1px rgb(151, 145, 145);
  border-radius: 5px;
  width: 75%;
}

input:focus {
  box-shadow: 0 0 5pt 2pt #D3D3D3;
  outline-width: 0px;
}

input:hover {
  box-shadow: 0 0 5pt 2pt #D3D3D3;
}

#mismatch {
  font-size: 12px;
  color: red;
}

.button-div {
  margin-left: 50px;
  margin-top: 20px;
}

#submit-button {
  padding: 6px 40px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(230, 130, 30);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input:invalid:focus {
  box-shadow: 0 0 5pt 2pt #ee5252;
}

input:valid:focus {
  box-shadow: 0 0 5pt 2pt #52ee62;
}


